@font-face {
    font-family: 'GTWalsheimPro-Thin';
    src: url('fonts/GTWalsheimPro-Thin.eot');
    src: url('fonts/GTWalsheimPro-Thin.eot?#iefix') format('embedded-opentype'),
    url('fonts/GTWalsheimPro-Thin.ttf') format('truetype'),
    url('fonts/GTWalsheimPro-Thin.woff') format('woff'),
    url('fonts/GTWalsheimPro-Thin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GTWalsheimPro-Regular';
    src: url('fonts/GTWalsheimPro-Regular.eot');
    src: url('fonts/GTWalsheimPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/GTWalsheimPro-Regular.ttf') format('truetype'),
    url('fonts/GTWalsheimPro-Regular.woff') format('woff'),
    url('fonts/GTWalsheimPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GTWalsheimPro-Medium';
    src: url('fonts/GTWalsheimPro-Medium.eot');
    src: url('fonts/GTWalsheimPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/GTWalsheimPro-Medium.ttf') format('truetype'),
    url('fonts/GTWalsheimPro-Medium.woff') format('woff'),
    url('fonts/GTWalsheimPro-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GTWalsheimPro-Light';
    src: url('fonts/GTWalsheimPro-Light.eot');
    src: url('fonts/GTWalsheimPro-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/GTWalsheimPro-Light.ttf') format('truetype'),
    url('fonts/GTWalsheimPro-Light.woff') format('woff'),
    url('fonts/GTWalsheimPro-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GTWalsheimPro-Bold';
    src: url('fonts/GTWalsheimPro-Bold.eot');
    src: url('fonts/GTWalsheimPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/GTWalsheimPro-Bold.ttf') format('truetype'),
    url('fonts/GTWalsheimPro-Bold.woff') format('woff'),
    url('fonts/GTWalsheimPro-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GTWalsheimPro-Black';
    src: url('fonts/GTWalsheimPro-Black.eot');
    src: url('fonts/GTWalsheimPro-Black.eot?#iefix') format('embedded-opentype'),
    url('fonts/GTWalsheimPro-Black.ttf') format('truetype'),
    url('fonts/GTWalsheimPro-Black.woff') format('woff'),
    url('fonts/GTWalsheimPro-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GTWalsheimPro-UltraLight';
    src: url('fonts/GTWalsheimPro-UltraLight.eot');
    src: url('fonts/GTWalsheimPro-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('fonts/GTWalsheimPro-UltraLight.ttf') format('truetype'),
    url('fonts/GTWalsheimPro-UltraLight.woff') format('woff'),
    url('fonts/GTWalsheimPro-UltraLight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

