@import 'variables';

.about .container{
  background-color: #ebebeb;
}

.custom-border{
  border: 1px solid #1F52AC!important;
  border-radius: 0;
  color: #1F52AC;

}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #1F52AC!important;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  font-family: GTWalsheimPro-Light;
  font-size: 18px;
  color: #1F52AC!important;
  letter-spacing: 0.2px;
}

.chooseFile{
  font-family: GTWalsheimPro-Light;
  font-size: 18px;
  color: #1F52AC!important;
  letter-spacing: 0.2px;
  text-align: start;
}

.gonderButton{
  font-family: GTWalsheimPro-Regular;
  font-size: 18px;
  color: #003BA2;
  letter-spacing: 0.2px;
}

 .custom-border::placeholder {
  font-family: GTWalsheimPro-light;
  font-size: 18px;

  color: #1F52AC!important;
  letter-spacing: 0.2px;

}

:-ms-input-placeholder {
  font-family: GTWalsheimPro-light;
  font-size: 18px;

  color: #1F52AC!important;;
  letter-spacing: 0.2px;
  text-align: justify;
}

::-ms-input-placeholder {
  font-family: GTWalsheimPro-light;
  font-size: 18px;

  color: #1F52AC!important;;
  letter-spacing: 0.2px;
  text-align: justify;
}

.form-title{

  font-family: GTWalsheimPro-Regular;
  font-size: 16px;
  color: #00389A;
  letter-spacing: 0.15px;
  text-align: justify;

}

h2{
  font-family: GTWalsheimPro-Medium;
  font-size: 30px;
  color: #FFFFFF;
  letter-spacing: 0.12px;
}


.banner-bg-color {
  background: #003DA6;
}


  .banner-title-vertical {
    position: absolute;
    transform: rotate(-90deg);
    white-space: pre;
    color: white;
    font-family: GTWalsheimPro-Medium;
    font-size: 50px;
    color: #FFFFFF;
    letter-spacing: 1.72px;
    line-height: 81px;
  }

  .transform-origin-about{
    transform-origin: 77% 256%;
  }

  .transform-origin-hr{
    transform-origin: 69% 335%;
  }


.banner-text {
  padding-top: 95px;

  p {
    font-family: GTWalsheimPro-light;
    line-height: 22px;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0.2px;
    text-align: justify;

  }
}

.banner-img {
  margin-bottom: -50px;
  margin-top: 50px;

}

.menuTag-holder {
  z-index: 2;
}

.menuTag {
  font-family: GTWalsheimPro-UltraLight;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.26px;
  text-align: center;
  :before{
    border-top: 1px solid #FFFFFF;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 90%;
  }
}

.breadcrumb-white-line {
  height: 1px;
  width: 12%;
  background-color: white;
}

.vision-text {
  list-style-type: circle;
  font-family: GTWalsheimPro-Light;
  font-size: 36px;
  color: #E04403;
  letter-spacing: 0.27px;
}

@media #{$lg-max} {

  .transform-origin-about{
    transform-origin: 70% 256%;
  }

  .banner-text  {

    padding-top: 75px;
  }

  .banner-img {
    margin-top: 130px;
  }
}


@media #{$md-max} {


  .breadcrumb-white-line {

    width: 16%;

  }

  .banner-text {

    padding-top: 67px;
  }

  .banner-img {
    margin-top: 125px;
  }

  .custom-pt {
    padding-top: 80px;
  }

}


@media #{$sm-max} {

  .breadcrumb-white-line {
    width: 16%;
  }

  .banner-text {

    padding-top: 70px;
  }

  .banner-title {
    transform: rotate(0deg);
    font-family: GTWalsheimPro-Medium;
    font-size: 40px;
    color: #FFFFFF;
    letter-spacing: 1.72px;
    margin-top: 0px;
  }

  .banner-img {
    margin-bottom: 15px;
    margin-top: 30px;
    width: 100% !important;

  }

  .vision-text {
    font-size: 24px;
  }
  .pt-c-70 {
    padding-top: 15px;
  }
  .custom-pt {
    padding-top: 60px;
  }
}

@media #{$xs-max} {


}





