.projectDetail{
    .projectIcon{
        width: 50px;
        height: 50px;
        background: url('../img/project-icon1.png') no-repeat center center;
        position: absolute;
        top: 10px;
        left: 25px;
    }
    .infoIcon{
        padding-left: 45px;
        color: #263272;
        @include opensans();
        font-size: 16px;
        background: url('../img/projects/info-icon.png') no-repeat left center;
    }
    .boxIcon{
        padding-left: 45px;
        color: #263272;
        @include opensans();
        font-size: 16px;
        background: url('../img/projects/box-icon.png') no-repeat left center;
    }
}

.projectList{
    list-style: none;
    margin-top: 30px;
    i{
        color: #263272;
    }
    li{
        margin-bottom: 10px;
        font-weight: 200;
        font-size: 13px;
    }
    strong{
        color: #263272;
        @include opensans();
        font-weight: 400;
    }
}

.projectSeperator{
    background-image: url('../img/projects/mid-banner.png');
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 90px 0;
}

.projectTestimonial{
    @include sm{
        border: none;
    }
    @include xs{
        border: none;
    }
    .item{
        padding: 0 ;
        .quote{
            position: relative;
            font-size: 15px;
            padding: 10px 10px 0 10px;
            margin-bottom: 0;
            margin-right: 10px;
            display: inline-block;
            &:before{
                content: "“";
                font-size: 30px;
                @include opensans();
                position: absolute;
                top: -5px;
                left: -5px;
            }
            &:after{
                content: "“";
                font-size: 30px;
                @include opensans();
                position: absolute;
                bottom: -20px;
                right: 20px;
            }
        }
    }
    img{
        width: 100px !important;
        padding: 0 5px 5px 0;
        background: url('../img/green-bg.png') no-repeat right -5px bottom -5px;
    }
}

.videoContainer{
    background-image: url('../img/projects/video-bg-left.png'), url('../img/projects/video-bg-right.png');
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat;
    padding: 10px;
    .videoBox{
        background-color: #FFFFFF;

        border: 1px solid #CACACA;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
        padding: 15px;
    }
}