
.projeler{

  .project-banner-bg-color {
    background: #ebebeb;
  }

  .banner-text{
    h1{
      color: #003DA6;

    }
    p{
      color: #000000;
    }
  }

  .menuTag{
    color: #003DA6;
  }

  .breadcrumb-white-line{
    background-color: #003DA6;
  }

  .form-group{

    .selectpicker{
      border: 1px solid #979797;
      border-radius: 32.5px;
      width: 150px;
    }

    span{

      font-family: GTWalsheimPro-Light;
      font-size: 20px;
      color: #E04403;
      line-height: 62px;

    }

  }



}

